*{
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    border: none;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
           -box-sizing: border-box;

}   
/**
 * ===============================================================
 * stylesheet to user login
 * ===============================================================
 */
section#conteudo-view{
    position: absolute;
    margin-top: 10%;
    margin-left: 35%;
    
    width: 400px;
    height: 60%;
    min-height: 320px;
    background: white;
    border-radius: 5px;

    box-shadow:1px 1px 2px 2px #dcdde1;
}
section#conteudo-view h1{
    font: 3em 'Maven Pro', sans-serif;
    text-align: center;
    margin-top: 5%;
    color:#c23616;
}
section#conteudo-view h3,
section#conteudo-view form p
{
    font: .8em 'Maven Pro', sans-serif;
    text-align: center;
    color: #c23616;
}

section#conteudo-view form,
section#conteudo-view form label{
    width: 100%;
    margin-top: 10%;
}
section#conteudo-view form p{
    font-size: 1.25em;
    margin-bottom: 8%;
    color: black;
}

section#conteudo-view form input[type="submit"],
section#conteudo-view form label input{
    width: 80%;
    margin-top: 1%;
    margin-left: 10%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #dcdde1;
    color: black;
    font: .8em 'Maven Pro', sans-serif;
    font-size: 1em;
}
section#conteudo-view form input[type="submit"]{
    background: #c23616;
    text-align: center;
    font: 1em 'Maven Pro', sans-serif;
    width: 60%;
    margin-top: 10%;
    margin-left: 20%;
    height: 30px;
    color:white;
    border-radius: 5px;
}


/**
 * ===============================================================
 * stylesheet to lateral menu to user perfil
 * ===============================================================
 */
 #user-perfil{
    position: fixed;
    float: top;
    margin-top: 6%;
    margin-left: 0.5%;

    width: 240px;
    height: 15%;

    background: white;
    border-radius: 5px;

    box-shadow:1px 1px 2px 2px #dcdde1;

    
    text-align: center;
}
#user-perfil img{

}
#user-perfil label{
    position: initial;
    font: 1em 'Maven Pro', sans-serif;
    margin-top: 10px;
    margin-right: 10px;
}

/**
 * ===============================================================
 * stylesheet to lateral menu
 * ===============================================================
 */
#lateral-menu{
    position: fixed;
    float: left;
    margin-top: 13.5%;
    margin-left: 0.5%;

    width: 240px;
    height: 50%;


    background: white;
    border-radius: 5px;

    box-shadow:1px 1px 2px 2px #dcdde1;
}


#lateral-menu ul,
#lateral-menu ul li{
    float: left;
    width: 100%;
}

#lateral-menu ul li a{
    float: left;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #e9e9e9;
    color: black;
}
#lateral-menu ul li a i{
    float: left;
    width: 80px;
    height: 80px;
    color: inherit;

    margin-left: 10%;
    margin-top: 10%;
}
#lateral-menu ul li a h3{
    float: left;
    height: 80px;
    font: 1.25em 'Maven Pro', sans-serif;
    color: inherit;
    
    margin-left: 55%;
    margin-top: -20%;
    
}
#lateral-menu ul li a:hover{
    color: #c23616; 
}

/**
 * ===============================================================
 * stylesheet to top header
 * ===============================================================
 */
#header-default{
    width: 100%;
    height: 10%;
    position: fixed;
    float: top;
    text-align: center;
    border-bottom: 3px solid black;
}
#header-default h1{
    font: 3em 'Maven Pro', sans-serif;
}
#header-default h4{
    font: 1em 'Maven Pro', sans-serif;
    margin-top: -35px;
    margin-left: 160px;
}


/**
 * ===============================================================
 * stylesheet to center content
 * ===============================================================
 */

 #sub-header{
    position: absolute;
    margin-top: 6%;
    margin-left: 260px;
    width: 80%;
    height: 15%;
    background: white;
    border-radius: 5px;
    
    box-shadow:1px 1px 2px 2px #dcdde1;
 }
 #title-option-menu{
     width: 100%;
     height: 60%;
     border-bottom: 2px solid #dcdde1;
 }
#title-option-menu label{
    font: 2em 'Maven Pro', sans-serif;
    color: black;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
#search-bar{
    font: 1em 'Maven Pro', sans-serif;
    margin-top: 10px;
    width: 100%;
    height: 40%;
}
#search-bar label{
    font: inherit;
    margin-left: 20px;
}

#container{
    position: fixed;
    margin-top: 13.5%;
    margin-left: 260px;
    
    width: 80%;
    height: 70%;
    background: white;
    border-radius: 5px;
    overflow-y: auto;
    box-shadow:1px 1px 2px 2px #dcdde1;
 }

 #opt-actions{
     margin-top: 10px;
 }
 #opt-actions div{
    margin-left: 10px;
}
 #new-form{ 
    margin-left: 72%;
}


/**
 * ======================================================== *
 * stylesheet to default form
 * ======================================================== *
 */
 #form-control{
    position: absolute;
    width: 99%;
    height: auto;
    margin: 0.5%;
    padding: 20px 20px 20px 20px;
    /*overflow-y: auto;*/
 }
form.default-form{
	float: left;
    width: 100%;
    height: inherit;
}
form.default-form label{
	float: left;
	width: 49%;
	height: 60px;
	padding: 7px 15px;
	border: 1px solid #e9e9e9;
	background: #fff;
	border-radius: 5px;
    margin-bottom: 20px;
}
form.default-form label:nth-last-of-type(odd){
    margin-left: 2%;
}
form.default-form label span{
	float: left;
	width: 100%;
	font: 400 .75em 'Maven Pro', sans-serif;
	color: #c7c7c7;
	padding-bottom: 5px;
}
form.default-form label input{
	float: left;
	width: 100%;
	color: #5c5c5c;
	font: 400 1.25em 'Maven Pro', sans-serif;
	background: transparent;
}	
form.default-form label.submit{
	background: #0ad181;
    border-color: #0aaa67;
    width: 20%;
    margin-left: 80%;
    margin-top: -61%;
}

form.default-form label.submit input{
	font-weight: 800;
    text-transform: uppercase;
	line-height: 50px;
    color: #f9f9f9;
}

form.default-form textarea{
    resize: none;
    overflow: auto;
    width: 95%;
    height: 150px;
}
form.default-form label.form-control{
	float: left;
	width: 49%;
	height: 200px;
	padding: 7px 15px;
	border: 1px solid #e9e9e9;
	background: #fff;
	border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 10px;
}

#line-section-questions{
    margin-top: 55%;
}

#title-section-questions{
    color: #5c5c5c;
    font: 400 1.25em 'Maven Pro', sans-serif;
}
h4{
    color: #5c5c5c;
    font: 400 1.5em 'Maven Pro', sans-serif;
}
#add_field_button{
    margin-bottom: 20px;
}

#content-questions{
    position: absolute;
    width: 95%;
    height: auto;
    margin-top: 2%;
    margin-left: 2%;
}
#group-questions{   
    width: 95%;
    height: 95%;
}

.trash-question{
    margin-top: -41%;
    margin-left: 100%;   
}
.trash-question a{
    color: black;   
}
.trash-question a i{
    color: inherit;   
}
.trash-question a:hover{
    color: red;   
}


